*.pyc
*.lock
*.safetensors
*.zip
*.tar.gz
*.tar
/src/codebase/tokenizers
/src/codebase/zz
/src/codebase/cxr-clip-main/huggingface
/src/codebase/cxr-clip-main/outputs
/src/scripts/Neurips/NIH/CXR-CLIP/huggingface
